/* 
body {
  margin: 0;
  padding: 0;
  display: block !important; 
  place-items: start !important; 
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff !important;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  display: block;
}
.navbar-container {
  top: 0;
  left: 0;
  position: relative; 
} */